{% extends 'fruitmall/base.html' %}
{% block title %}
    <title>资讯</title>
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="/static/css/common.css" type="text/css" media="all"/>
    <link rel="stylesheet" href="/static/css/information.css" type="text/css" media="all"/>
    <script type="text/javascript" src="/static/js/jquery.js"></script>
    <script type="text/javascript" src="/static/js/fadebanner.js"></script>
    <script type="text/javascript" src="/static/js/slider.js"></script>
{% endblock %}

{% block container %}
<div id="container">
    <div id="nav-side">
        <div class="login-container">
                <p class="login-btn">
                    <a href="{% url 'fruitmall:login' %}"><img src="/static/img/btn-login.gif" width="61" height="19" alt="登入"/></a>
                    <a href="{% url 'fruitmall:regist' %}"><img src="/static/img/btn-regist.gif" width="61" height="19" alt="注册"/></a>
                </p>
        </div>
        <div class="login-container">
            <dl class="login-suc">
                <dt><img src="/static/img/img-photo.jpg" width="62" height="62" alt="头像"/></dt>
                <dd>
                    {% if account %}
                        <p class="user-name">{{account}},</p>
                        <p>您好！</p>
                        <button><a href="{% url 'fruitmall:logout' %}">退出</a></button>
                    {% else %}
                        <p>尚未登陆！</p>
                        <button><a href="{% url 'fruitmall:login' %}">登录</a></button>
                    {% endif %}
                </dd>
            </dl>
            <p class="my-fujia"><a href="{% url 'fruitmall:record' %}"><img src="/static/img/btn-personal.gif" width="89" height="21" alt="我的芙佳"/></a></p>
        </div>
        <div class="pro-kinds">
            <h1 class="kinds-tit">产品分类</h1>
            <div class="kinds-cont">
                <div class="kinds-det" style="height: 370px">
                    <h2 class="det-tit">新鲜水果</h2>
                    <div class="det-content">
                        {% for g in goods %}
                        <a href="{% url 'fruitmall:details' g.id %}">{{g.name}}</a>
                        {% endfor %}
                        <div style="clear: both;"></div>
                    </div>
                </div>
                <div class="kinds-det" style="height: 370px">
                    <h2 class="det-tit">有机蔬菜</h2>
                    <div class="det-content">
                        {% for g in goods %}
                        <a href="{% url 'fruitmall:details' g.id %}">{{g.name}}</a>
                        {% endfor %}
                        <div style="clear: both;"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="hot-sale" style="height: 610px;overflow: hidden">
            <h1 class="hot-tit">热卖商品</h1>
            <div class="hot-cont">
                <ul class="hot-list">
                    {% for g in goods %}
                        <li>
                            <p><a href="{% url 'fruitmall:details' g.id %}"><img src="/media/{{g.img}}" width="136" height="112" alt="安岳柠檬"/></a></p>
                            <p class="hot-name"><a href="{% url 'fruitmall:details' g.id %}">{{g.name}} <span>RMB:{{g.price}}</span></a></p>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <div id="content">
        <div class="banner-cont">
            <ul class="fade-banner" control-fade="banner-control">
                {% for g in goods %}
                {% for a in ads %}
                {% if forloop.counter == 1 %}
                    <li><a href="{% url 'fruitmall:details' g.id  %}"><img src="/media/{{a.img}}" width="744" height="303" alt="蒙自石榴"/></a></li>
                {% else %}
                    <li><a href="{% url 'fruitmall:details' g.id %}"><img src="/media/{{a.img}}" width="744" height="303" alt="蒙自石榴"/></a></li>
                {% endif %}
                {% endfor %}
                {% endfor %}
            </ul>
            <ul class="banner-control">
                {% for a in ads %}
                {% if forloop.counter == 1 %}
                    <li class="active"></li>
                {% else %}
                    <li></li>
                {% endif %}
                {% endfor %}
            </ul>
        </div>
        <div style="height: 290px;overflow: hidden">
            <div class="promotion-area">
                <h1 class="title">促销专区</h1>
                <ul class="promotion-list">
                    {% for g in goods %}
                        <li><a href="{% url 'fruitmall:details' g.id %}"><img src="/media/{{g.img}}" alt="樱桃" width="215" height="199"/></a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="info-list">
            <h1 class="title">资讯动态</h1>
            <ul>
                {% for i in page.object_list %}
                    <li>
                        <p>
                            <a href="{% url 'fruitmall:information01' i.id %}">{{i.title}}...</a>
                            <span class="info-time">[{{i.creatr_time}}]</span>
                        </p>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="page-list">
            <p>
                {% if page.has_previous %}
                <span><a href="?page={{page.previous_page_number}}">&lt;上一页</a></span>
                {% endif %}

                {% for i in page.paginator.page_range %}
                    {% if i == page.number %}
                        <span class="page-active"><a href="?page={{i}}">{{i}}</a></span>
                    {% else %}
                        <span><a href="?page={{i}}">{{i}}</a></span>
                    {% endif %}
                {% endfor %}
                {% if page.has_next %}
                    <span><a href="?page={{page.next_page_number}}">下一页&gt;</a></span>
                {% endif %}
            </p>
        </div>
        <div class="recommend">
            <h1 class="title">掌柜推荐</h1>
            <div class="rec-slider">
                <ul>
                    {% for g in goods %}
                        <li>
                            <p class="recom-img"><a href="{% url 'fruitmall:details' g.id %}"><img src="/media/{{g.img}}" alt="猕猴桃" width="163" height="153"/> <span></span> </a></p>
                            <p class="recom-name"><a href="{% url 'fruitmall:details' g.id %}">{{g.name}}（新品上市）</a></p>
                            <p class="recom-price">￥{{g.price}}/斤</p>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <p class="recommend-tab">
                <span class="recommend-prev">&lt;</span>
                <span class="recommend-next">&gt;</span>
            </p>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script>
    $(".fade-banner").fadeBanner();//轮播图插件初始化，注意control-fade，contrl-tab两个属性规定是否有小圆点控制按钮和tab切换的按钮
</script>
{% endblock %}
