{% extends 'fruitmall/base.html' %}
{% block title %}
<title>我的积分</title>
{% endblock %}

{% block css %}
<link rel="stylesheet" href="/static/css/common.css" type="text/css" media="all"/>
<link rel="stylesheet" href="/static/css/integral.css" type="text/css" media="all"/>
<script type="text/javascript" src="/static/js/jquery.js"></script>
<script type="text/javascript" src="/static/js/common.js"></script>
<script type="text/javascript" src="/static/js/slider.js"></script>
{% endblock %}

{% block container %}
<div id="container">
    <div id="nav-side">
        <div class="person-container">
            <div class="person-message">
                <p class="person-photo"><img src="/static/img/img-person.jpg" width="87" height="87" alt="{{account}}"/>
                </p>
                {% if account %}
                <p class="person-name">{{account}}，您好！</p>
                <p class="person-repair"><a href="{% url 'fruitmall:data' %}">[修改]</a></p>
                {% else %}
                <p class="person-name">尚未登陆！</p>
                <p class="person-repair"><a href="{% url 'fruitmall:data' %}">
                    <button>登录</button>
                </a></p>
                {% endif %}
            </div>
            <div class="my-message">
                {% for i in up %}
                <p class="my-address">
                    <a href="{% url 'fruitmall:address' %}">我的地址</a>
                </p>
                <p class="my-intrgral">
                    <a href="{% url 'fruitmall:integral' %}">我的积分：<span>{{i.integral}}</span></a>
                </p>
                <p class="my-coupon">
                    <a href="{% url 'fruitmall:coupon' %}">我的优惠券：<span>{{i.coupon}}张</span></a>
                </p>
                <p class="my-record">
                    <a href="{% url 'fruitmall:record' %}">购买记录</a>
                </p>
                {% endfor %}
            </div>
        </div>
    </div>
    <div id="content">
        <h1 class="title">我的积分</h1>
        <div class="integral-con">
            <ul class="control-tab">
                <li class="active">积分明细</li>
                <li>积分收入</li>
                <li>积分支出</li>
                <li href="exchange">兑换商品</li>
            </ul>
            <p class="integral-count">
                {% for i in up %}
                <span>我的积分：<span>{{i.integral}}</span></span>
                <span>即将过期积分：<span>0</span></span>
                {% endfor %}
            </p>
            <div class="integral-detail">
                <ul class="integral-nav">
                    <li class="source">来源</li>
                    <li class="change">积分变化</li>
                    <li class="date">日期</li>
                    <li class="remark">备注</li>
                </ul>
                {% for g in page.object_list %}
                <ul class="integral-cont">
                    <li class="source">
                        <dl>
                            <dt><a href="#"><img src="/media/{{g.img}}" width="80" height="80" alt="蚕豆"/></a>
                            </dt>
                            <dd><a href="#">{{g.name}}</a></dd>
                        </dl>
                    </li>
                    <li class="change">+{{g.integral}}</li>
                    <li class="date">{{g.update_time}}</li>
                    <li class="remark">交易获得</li>
                </ul>
                {% endfor %}
            </div>
            <div class="integral-exchange" style="display: none;">
                <div class="ex-list">
                    <ul>
                        {% for g in page.object_list %}
                        <li>
                            <p class="recom-img">
                                <a href="#"><img src="/media/{{g.img}}" alt="猕猴桃" width="163" height="153"/></a>
                                <span></span>
                            </p>
                            <p class="recom-name">{{g.name}}（新品上市）</p>
                            <p class="recom-price">￥{{g.price}}/斤</p>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="page-list">
                <p>
                    {% if page.has_previous %}
                    <span> <a href="?page={{page.previous_page_number}}">&lt;上一页</a></span>
                    {% endif %}

                    {% for i in page.paginator.page_range %}
                    {% if i == page.number %}
                    <span class="page-active"><a href="?page={{i}}">{{i}}</a></span>
                    {% else %}
                    <span><a href="?page={{i}}">{{i}}</a></span>
                    {% endif %}
                    {% endfor %}

                    {% if page.has_next %}
                    <span><a href="?page={{page.next_page_number}}">下一页&gt;</a></span>
                    {% endif %}
                </p>
            </div>
            <div class="recommend">
                <h1 class="title">掌柜推荐</h1>
                <div class="rec-slider">
                    <ul>
                        {% for g in goods %}
                        <li>
                            <p class="recom-img"><a href="{% url 'fruitmall:details' g.id %}"><img
                                    src="/media/{{g.img}}" alt="猕猴桃" width="163" height="153"/> <span></span> </a></p>
                            <p class="recom-name"><a href="{% url 'fruitmall:details' g.id %}">{{g.name}}（新品上市）</a></p>
                            <p class="recom-price">￥{{g.price}}/斤</p>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <p class="recommend-tab">
                    <span class="recommend-prev">&lt;</span>
                    <span class="recommend-next">&gt;</span>
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script>
    $(document).ready(function () {
        $(".control-tab li").click(function () {
            var getHref = $(this).attr("href");
            if (getHref) {
                $(".integral-exchange").css("display", "block");
                $(".integral-detail").css("display", "none");
            } else {
                $(".integral-exchange").css("display", "none");
                $(".integral-detail").css("display", "block");
            }
        })
    })
</script>
{% endblock %}
