{% extends 'fruitmall/base.html' %}
{% block title %}
<title>登录</title>
{% endblock %}

{% block css %}
<link rel="stylesheet" href="/static/css/common.css" type="text/css" media="all" />
<link rel="stylesheet" href="/static/css/login.css" type="text/css" media="all" />
<script type="text/javascript" src="/static/js/jquery.js"></script>
{% endblock %}

{% block container %}
  <div id="container">
    <div class="login-con">
      <form method="post" action="{% url 'fruitmall:login' %}">
        {% csrf_token %}
        <fieldset>
          <legend>用户登录</legend>
          <div class="login-cont">
            <p class="login-left"><img src="/static/img/img-login.gif" width="233" height="204" alt="赢在起点，笑在路上" /></p>
            <div class="login-right">
              <p class="login-name">{{lgf.account}}</p>
              <p class="login-password">{{lgf.password}}</p>
              <p><a href="javascript:;">忘记密码？</a></p>
              <p class="btn-login"><button><img src="/static/img/btn-login02.gif" width="223" height="30" alt="登录" /></button></p>
              <p class="new-user"><a href="{% url 'fruitmall:regist' %}">新用户注册</a></p>
            </div>
          </div>
  		</fieldset>
      </form>
    </div>
  </div>
{% endblock %}

