{% extends 'fruitmall/base.html' %}
{% block title %}
    <title>产品</title>
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="/static/css/common.css" type="text/css" media="all"/>
    <link rel="stylesheet" href="/static/css/product.css" type="text/css" media="all"/>
    <script type="text/javascript" src="/static/js/jquery.js"></script>
    <script type="text/javascript" src="/static/js/fadebanner.js"></script>
    <script type="text/javascript" src="/static/js/slider.js"></script>
{% endblock %}

{% block container %}
<div id="container">
    <div id="nav-side">
        <div class="login-container">
            <p class="login-title"><img src="/static/img/title-login.gif" alt="会员登入" width="147" height="23"/></p>
            <form>
                <ul class="login-input">
                    <li>
                        <label>账号：</label>
                        <input type="text"/>
                    </li>
                    <li>
                        <label>密码：</label>
                        <input type="password"/>
                    </li>
                </ul>
                <p class="f-password"><a href="javascript:;">忘记密码？</a></p>
                <p class="login-btn">
                    <a href="javascript:;"><img src="/static/img/btn-login.gif" width="61" height="19" alt="登入"/></a>
                    <a href="{% url 'fruitmall:regist' %}"><img src="/static/img/btn-regist.gif" width="61" height="19" alt="注册"/></a>
                </p>
            </form>
        </div>
        <div class="login-container">
            <dl class="login-suc">
                <dt><img src="/static/img/img-photo.jpg" width="62" height="62" alt="头像"/></dt>
                <dd>
                    <p class="user-name">张三丰</p>
                    <p>您好！</p>
                </dd>
            </dl>
            <p class="my-fujia"><a href="{% url 'fruitmall:record' %}"><img src="/static/img/btn-personal.gif" width="89"
                                                                  height="21" alt="我的芙佳"/></a></p>
        </div>
        <div class="pro-kinds">
            <h1 class="kinds-tit">产品分类</h1>
            <div class="kinds-cont">
                <div class="kinds-det">
                    <h2 class="det-tit">新鲜水果</h2>
                    <div class="det-content">
                        <a href="{% url 'fruitmall:details' %}">苹果</a>
                        <a href="{% url 'fruitmall:details' %}">猕猴桃</a>
                        <a href="{% url 'fruitmall:details' %}">苹果</a>
                        <a href="{% url 'fruitmall:details' %}">梨青柠檬梨青柠檬</a>
                        <a href="{% url 'fruitmall:details' %}">苹果</a>
                        <a href="{% url 'fruitmall:details' %}">猕猴桃</a>
                        <a href="{% url 'fruitmall:details' %}">苹果</a>
                        <a href="{% url 'fruitmall:details' %}">梨青柠檬</a>
                        <a href="{% url 'fruitmall:details' %}">苹果</a>
                        <a href="{% url 'fruitmall:details' %}">猕猴桃</a>
                        <a href="{% url 'fruitmall:details' %}">苹果</a>
                        <a href="{% url 'fruitmall:details' %}">梨青柠...</a>
                        <a href="{% url 'fruitmall:details' %}">苹果</a>
                        <a href="{% url 'fruitmall:details' %}">猕猴桃</a>
                        <a href="{% url 'fruitmall:details' %}">苹果</a>
                        <a href="{% url 'fruitmall:details' %}">梨青柠檬</a>
                        <div style="clear: both;"></div>
                    </div>
                </div>
                <div class="kinds-det">
                    <h2 class="det-tit">有机蔬菜</h2>
                    <div class="det-content">
                        <a href="{% url 'fruitmall:details' %}">苹果</a>
                        <a href="{% url 'fruitmall:details' %}">猕猴桃</a>
                        <a href="{% url 'fruitmall:details' %}">苹果</a>
                        <a href="{% url 'fruitmall:details' %}">梨青柠檬梨青柠檬</a>
                        <a href="{% url 'fruitmall:details' %}">苹果</a>
                        <a href="{% url 'fruitmall:details' %}">猕猴桃</a>
                        <a href="{% url 'fruitmall:details' %}">苹果</a>
                        <a href="{% url 'fruitmall:details' %}">梨青柠檬</a>
                        <a href="{% url 'fruitmall:details' %}">苹果</a>
                        <a href="{% url 'fruitmall:details' %}">猕猴桃</a>
                        <a href="{% url 'fruitmall:details' %}">苹果</a>
                        <a href="{% url 'fruitmall:details' %}">梨青柠...</a>
                        <a href="{% url 'fruitmall:details' %}">苹果</a>
                        <a href="{% url 'fruitmall:details' %}">猕猴桃</a>
                        <a href="{% url 'fruitmall:details' %}">苹果</a>
                        <a href="{% url 'fruitmall:details' %}">梨青柠檬</a>
                        <div style="clear: both;"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="hot-sale">
            <h1 class="hot-tit">热卖商品</h1>
            <div class="hot-cont">
                <ul class="hot-list">
                    <li>
                        <p><a href="{% url 'fruitmall:details' %}"><img src="/static/img/img-hot01.jpg" width="136" height="112" alt="安岳柠檬"/></a></p>
                        <p class="hot-name"><a href="{% url 'fruitmall:details' %}">安岳柠檬 <span>RMB:100</span></a></p>
                    </li>
                    <li>
                        <p><a href="{% url 'fruitmall:details' %}"><img src="/static/img/img-hot01.jpg" width="136" height="112" alt="安岳柠檬"/></a></p>
                        <p class="hot-name"><a href="{% url 'fruitmall:details' %}">安岳柠檬 <span>RMB:100</span></a></p>
                    </li>
                    <li>
                        <p><a href="{% url 'fruitmall:details' %}"><img src="/static/img/img-hot01.jpg" width="136" height="112" alt="安岳柠檬"/></a></p>
                        <p class="hot-name"><a href="{% url 'fruitmall:details' %}">安岳柠檬 <span>RMB:100</span></a></p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div id="content">
        <div class="banner-cont">
            <ul class="fade-banner" control-fade="banner-control">
                <li><a href="{% url 'fruitmall:details' %}"><img src="/static/img/bnr-photo01.jpg" width="744" height="303"
                                                        alt="蒙自石榴"/></a></li>
                <li><a href="{% url 'fruitmall:details' %}"><img src="/static/img/bnr-photo02.jpg" width="744" height="303"
                                                        alt="蒙自石榴"/></a></li>
                <li><a href="{% url 'fruitmall:details' %}"><img src="/static/img/bnr-photo03.jpg" width="744" height="303"
                                                        alt="蒙自石榴"/></a></li>
                <li><a href="{% url 'fruitmall:details' %}"><img src="/static/img/bnr-photo04.jpg" width="744" height="303"
                                                        alt="蒙自石榴"/></a></li>
                <li><a href="{% url 'fruitmall:details' %}"><img src="/static/img/bnr-photo05.jpg" width="744" height="303"
                                                        alt="蒙自石榴"/></a></li>
            </ul>
            <ul class="banner-control">
                <li class="active"></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>
        <div class="promotion-area">
            <h1 class="title">促销专区</h1>
            <ul class="promotion-list">
                <li><a href="{% url 'fruitmall:details' %}"><img src="/static/img/img-promotion01.jpg" alt="樱桃" width="215"
                                                        height="199"/></a></li>
                <li><a href="{% url 'fruitmall:details' %}"><img src="/static/img/img-promotion01.jpg" alt="樱桃" width="215"
                                                        height="199"/></a></li>
                <li><a href="{% url 'fruitmall:details' %}"><img src="/static/img/img-promotion01.jpg" alt="樱桃" width="215"
                                                        height="199"/></a></li>
            </ul>
        </div>
        <div class="product-show">
            <h1 class="title">新鲜水果</h1>
            <ul class="show-list">
                <li>
                    <p><a href="{% url 'fruitmall:details' %}"><img src="/static/img/product/img-product01.jpg" alt="百货" width="151"
                                                   height="151"/></a></p>
                    <p class="show-name">新鲜水果</p>
                    <p class="show-price">RMB 100</p>
                </li>
                <li>
                    <p><a href="{% url 'fruitmall:details' %}"><img src="/static/img/product/img-product01.jpg" alt="百货" width="151"
                                                   height="151"/></a></p>
                    <p class="show-name">新鲜水果</p>
                    <p class="show-price">RMB 100</p>
                </li>
                <li>
                    <p><a href="{% url 'fruitmall:details' %}"><img src="/static/img/product/img-product01.jpg" alt="百货" width="151"
                                                   height="151"/></a></p>
                    <p class="show-name">新鲜水果</p>
                    <p class="show-price">RMB 100</p>
                </li>
                <li>
                    <p><a href="{% url 'fruitmall:details' %}"><img src="/static/img/product/img-product01.jpg" alt="百货" width="151"
                                                   height="151"/></a></p>
                    <p class="show-name">新鲜水果</p>
                    <p class="show-price">RMB 100</p>
                </li>
                <li>
                    <p><a href="{% url 'fruitmall:details' %}"><img src="/static/img/product/img-product01.jpg" alt="百货" width="151"
                                                   height="151"/></a></p>
                    <p class="show-name">新鲜水果</p>
                    <p class="show-price">RMB 100</p>
                </li>
                <li>
                    <p><a href="{% url 'fruitmall:details' %}"><img src="/static/img/product/img-product01.jpg" alt="百货" width="151"
                                                   height="151"/></a></p>
                    <p class="show-name">新鲜水果</p>
                    <p class="show-price">RMB 100</p>
                </li>
                <li>
                    <p><a href="{% url 'fruitmall:details' %}"><img src="/static/img/product/img-product01.jpg" alt="百货" width="151"
                                                   height="151"/></a></p>
                    <p class="show-name">新鲜水果</p>
                    <p class="show-price">RMB 100</p>
                </li>
                <li>
                    <p><a href="{% url 'fruitmall:details' %}"><img src="/static/img/product/img-product01.jpg" alt="百货" width="151"
                                                   height="151"/></a></p>
                    <p class="show-name">新鲜水果</p>
                    <p class="show-price">RMB 100</p>
                </li>
                <li>
                    <p><a href="{% url 'fruitmall:details' %}"><img src="/static/img/product/img-product01.jpg" alt="百货" width="151"
                                                   height="151"/></a></p>
                    <p class="show-name">新鲜水果</p>
                    <p class="show-price">RMB 100</p>
                </li>
                <li>
                    <p><a href="{% url 'fruitmall:details' %}"><img src="/static/img/product/img-product01.jpg" alt="百货" width="151"
                                                   height="151"/></a></p>
                    <p class="show-name">新鲜水果</p>
                    <p class="show-price">RMB 100</p>
                </li>
                <li>
                    <p><a href="{% url 'fruitmall:details' %}"><img src="/static/img/product/img-product01.jpg" alt="百货" width="151"
                                                   height="151"/></a></p>
                    <p class="show-name">新鲜水果</p>
                    <p class="show-price">RMB 100</p>
                </li>
                <li>
                    <p><a href="{% url 'fruitmall:details' %}"><img src="/static/img/product/img-product01.jpg" alt="百货" width="151"
                                                   height="151"/></a></p>
                    <p class="show-name">新鲜水果</p>
                    <p class="show-price">RMB 100</p>
                </li>
            </ul>
        </div>
        <div class="page-list">
            <p><span>&lt;上一页</span> <span class="page-active">1</span> <span>2</span> <span>3</span> <span>4</span>
                <span>5</span> <span>6</span> <span>7</span> <span>下一页&gt;</span></p>
        </div>
        <div class="recommend">
            <h1 class="title">掌柜推荐</h1>
            <div class="rec-slider">
                <ul>
                    <li>
                        <p class="recom-img"><a href="{% url 'fruitmall:details' %}"><img src="/static/img/ico-recommend01.jpg" alt="猕猴桃" width="163" height="153"/> <span></span> </a></p>
                        <p class="recom-name"><a href="{% url 'fruitmall:details' %}">猕猴桃（新品上市）</a></p>
                        <p class="recom-price">￥5.60/斤</p>
                    </li>
                    <li>
                        <p class="recom-img"><a href="{% url 'fruitmall:details' %}"><img src="/static/img/ico-recommend01.jpg" alt="猕猴桃" width="163" height="153"/> <span></span> </a></p>
                        <p class="recom-name"><a href="{% url 'fruitmall:details' %}">猕猴桃（新品上市）</a></p>
                        <p class="recom-price">￥5.60/斤</p>
                    </li>
                    <li>
                        <p class="recom-img"><a href="{% url 'fruitmall:details' %}"><img src="/static/img/ico-recommend01.jpg" alt="猕猴桃" width="163" height="153"/> <span></span> </a></p>
                        <p class="recom-name"><a href="{% url 'fruitmall:details' %}">猕猴桃（新品上市）</a></p>
                        <p class="recom-price">￥5.60/斤</p>
                    </li>
                    <li>
                        <p class="recom-img"><a href="{% url 'fruitmall:details' %}"><img src="/static/img/ico-recommend01.jpg" alt="猕猴桃" width="163" height="153"/> <span></span> </a></p>
                        <p class="recom-name"><a href="{% url 'fruitmall:details' %}">猕猴桃（新品上市）</a></p>
                        <p class="recom-price">￥5.60/斤</p>
                    </li>
                    <li>
                        <p class="recom-img"><a href="{% url 'fruitmall:details' %}"><img src="/static/img/ico-recommend01.jpg" alt="猕猴桃" width="163" height="153"/> <span></span> </a></p>
                        <p class="recom-name"><a href="{% url 'fruitmall:details' %}">猕猴桃（新品上市）</a></p>
                        <p class="recom-price">￥5.60/斤</p>
                    </li>
                    <li>
                        <p class="recom-img"><a href="{% url 'fruitmall:details' %}"><img src="/static/img/ico-recommend01.jpg" alt="猕猴桃" width="163" height="153"/> <span></span> </a></p>
                        <p class="recom-name"><a href="{% url 'fruitmall:details' %}">猕猴桃（新品上市）</a></p>
                        <p class="recom-price">￥5.60/斤</p>
                    </li>
                    <li>
                        <p class="recom-img"><a href="{% url 'fruitmall:details' %}"><img src="/static/img/ico-recommend01.jpg" alt="猕猴桃" width="163" height="153"/> <span></span></a></p>
                        <p class="recom-name"><a href="{% url 'fruitmall:details' %}">猕猴桃（新品上市）</a></p>
                        <p class="recom-price">￥5.60/斤</p>
                    </li>
                </ul>
            </div>
            <p class="recommend-tab">
                <span class="recommend-prev">&lt;</span>
                <span class="recommend-next">&gt;</span>
            </p>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script>
    $(".fade-banner").fadeBanner();//轮播图插件初始化，注意control-fade，contrl-tab两个属性规定是否有小圆点控制按钮和tab切换的按钮
</script>
{% endblock %}
