{% extends 'fruitmall/base.html' %}
{% block title %}
<title>购买记录</title>
{% endblock %}

{% block css %}
<link rel="stylesheet" href="/static/css/common.css" type="text/css" media="all"/>
<link rel="stylesheet" href="/static/css/record.css" type="text/css" media="all"/>
<script type="text/javascript" src="/static/js/jquery.js"></script>
<script type="text/javascript" src="/static/js/common.js"></script>
<script type="text/javascript" src="/static/js/slider.js"></script>
{% endblock %}

{% block container %}
<div id="container">
    <div id="nav-side">
        <div class="person-container">
            <div class="person-message">
                <p class="person-photo"><img src="/static/img/img-person.jpg" width="87" height="87" alt="{{account}}"/></p>
                {% if account %}
                    <p class="person-name">{{account}}，您好！</p>
                    <p class="person-repair"><a href="{% url 'fruitmall:data' %}">[修改]</a></p>
                {% else %}
                    <p class="person-name">尚未登陆！</p>
                    <p class="person-repair"><a href="{% url 'fruitmall:data' %}"><button>登录</button></a></p>
                {% endif %}
            </div>
            <div class="my-message">
                <p class="my-address">
                    <a href="{% url 'fruitmall:address' %}">我的地址</a>
                </p>
                {% for i in up %}
                <p class="my-intrgral">
                    <a href="{% url 'fruitmall:integral' %}">我的积分：<span>{{i.integral}}</span></a>
                </p>
                <p class="my-coupon">
                    <a href="{% url 'fruitmall:coupon' %}">我的优惠券：<span>{{i.coupon}}张</span></a>
                </p>
                {% endfor %}
                <p class="my-record">
                    <a href="{% url 'fruitmall:record' %}">购买记录</a>
                </p>
            </div>
        </div>
    </div>
    <div id="content">
        <h1 class="title">购买记录</h1>
        <div class="record-con">
            <ul class="control-tab">
                <li class="active">所有订单</li>
                <li>待付款<span>0</span></li>
                <li>待发货<span>0</span></li>
                <li>代收货<span>0</span></li>
                <li>待评价<span>0</span></li>
            </ul>
            <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" class="record-cont">
                <thead>
                <tr>
                    <td width="300" align="center">商品</td>
                    <td width="90" align="center">单价（元）</td>
                    <td width="60" align="center">数量</td>
                    <td width="100" align="center">状态</td>
                    <td width="90" align="center">总计</td>
                    <td width="120" align="center">操作</td>
                </tr>
                <tr>
                    <td height="10" colspan="6"></td>
                </tr>
                </thead>
                <tbody class="record-tb-bo">
                {% for g in page.object_list %}
                <tr class="record-tit">
                    <td height="38" colspan="3" align="left">
                        <span class="record-check"><input type="checkbox"/></span>
                        <span class="record-date">{{g.update_time}}</span>
                        <span class="record-num">订单号：{{g.id}}</span></td>
                    <td align="center">&nbsp;</td>
                    <td align="center">&nbsp;</td>
                    <td align="center"><img src="/static/img/record/ico-delete.gif" width="22" height="23" alt="删除"/>
                    </td>
                </tr>
                <tr>
                    <td align="left" class="record-bo-bm">
                        <a href="#">
                            <span class="record-img"><img src="/media/{{g.img}}" width="80"
                                                          height="80" alt="蚕豆"/></span>
                            <span class="record-name">{{g.desc}}</span>
                        </a>
                    </td>
                    <td align="center" class="record-bo-bm">{{g.price}}</td>
                    <td align="center" class="record-bo-bm">{{g.cart_set.first.count}}</td>
                    <td rowspan="2" align="center" class="record-bo-lt record-bo-bm">待付款</td>
                    <td rowspan="2" align="center" class="record-bo-lt record-bo-bm">{{g.price|add:g.price}}</td>
                    <td rowspan="2" align="center" class="record-bo-lt record-bo-bm">
                        <a href="{% url 'fruitmall:settlement' %}">立即付款</a><br/>
                        <a href="javascript:;">取消订单</a>
                    </td>
                </tr>
                <tr>
                    <td align="left" class="record-bo-bm">
                        <a href="#">
                            <span class="record-img"><img src="/media/{{g.img}}" width="80"
                                                          height="80" alt="蚕豆"/></span>
                            <span class="record-name">{{g.name}}</span>
                        </a>
                    </td>
                    <td align="center" class="record-bo-bm">{{g.price}}</td>
                    <td align="center" class="record-bo-bm">{{g.cart_set.first.count}}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="page-list">
            <p>
                {% if page.has_previous %}
                <span> <a href="?page={{page.previous_page_number}}">&lt;上一页</a></span>
                {% endif %}

                {% for i in page.paginator.page_range %}
                {% if i == page.number %}
                <span class="page-active"><a href="?page={{i}}">{{i}}</a></span>
                {% else %}
                <span><a href="?page={{i}}">{{i}}</a></span>
                {% endif %}
                {% endfor %}

                {% if page.has_next %}
                <span><a href="?page={{page.next_page_number}}">下一页&gt;</a></span>
                {% endif %}
            </p>
        </div>
        <div class="recommend">
            <h1 class="title">掌柜推荐</h1>
            <div class="rec-slider">
                <ul>
                    {% for g in goods %}
                    <li>
                        <p class="recom-img"><a href="{% url 'fruitmall:details' g.id %}"><img src="/media/{{g.img}}"
                                                                                               alt="猕猴桃" width="163"
                                                                                               height="153"/>
                            <span></span> </a></p>
                        <p class="recom-name"><a href="{% url 'fruitmall:details' g.id %}">{{g.name}}（新品上市）</a></p>
                        <p class="recom-price">￥{{g.price}}/斤</p>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <p class="recommend-tab">
                <span class="recommend-prev">&lt;</span>
                <span class="recommend-next">&gt;</span>
            </p>
        </div>
    </div>
</div>
{% endblock %}

