{% extends 'fruitmall/base.html' %}
{% block title %}
<title>注册</title>
{% endblock %}

{% block css %}
<link rel="stylesheet" href="/static/css/common.css" type="text/css" media="all"/>
<link rel="stylesheet" href="/static/css/regist.css" type="text/css" media="all"/>
<script type="text/javascript" src="/static/js/jquery.js"></script>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
<!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
<script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>
<!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>
{% endblock %}

{% block container %}
<div id="container">

    <div class="regist-con">
        <form method="post" action="{% url 'fruitmall:regist' %}">
            {% csrf_token %}
            <fieldset>
                <legend>用户注册</legend>
                <ul class="regist-cont">
                    <li>
                        <dl>
                            <dt>用户名：</dt>
                            <dd>{{rgf.account}}</dd>
                        </dl>
                        <span>*</span>
                    </li>
                    <li>
                        <dl>
                            <dt>密码：</dt>
                            <dd class="regist-password">{{rgf.password}}</dd>
                        </dl>
                        <span>*</span>
                    </li>
                    <li>
                        <dl>
                            <dt>确认密码：</dt>
                            <dd class="insure-password">{{rgf.repeatpassword}}</dd>
                        </dl>
                        <span>*</span>
                    </li>
                    <li>
                        <dl>
                            <dt>电话：</dt>
                            <dd>{{rgf.telephone}}</dd>
                        </dl>
                        <span>*</span>
                    </li>
                    <li>
                        <dl>
                            <dt>电子邮箱：</dt>
                            <dd>{{rgf.email}}</dd>
                        </dl>
                        <span>*</span>
                    </li>
                </ul>
                <p class="btn-regist">
                    <button><img src="/static/img/btn-regist02.gif" width="223" height="30" alt="注册"/></button>
                </p>
                <p class="login-direct"><a href="{% url 'fruitmall:login' %}">直接登录</a></p>
            </fieldset>
        </form>
    </div>


</div>
{% endblock %}

